.icon {
  &-white {
    color: #e3e3e3e6;
  }
  &-normal {
    font-size: 21px;
  }
  &-circle {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #ee6df9;
    border-radius: 50%;
    background-color: #ffffff2e;
  }
}
